#title {
  margin-bottom: 160px;
  background: url(../img/burger-gif.gif);
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: 'Titan One', cursive;
  /* color: yellow; */
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  background-color: rgba(37, 102, 37, 0.2);
}

body {
  background-color: rgba(146, 184, 76, 0.6);
}

#burger-input {
  width: 250px;
}
